apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  type: LoadBalancer # Change this from NodePort
  selector:
    app: flask
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080 # The port your Flask app listens on

